xrandr --newmode "1920x1080_60.00"  173.00  1920 2048 2248 2576  1080 1083 1088 1120 -hsync +vsync
xrandr --addmode LVDS-1 1920x1080_60.00
xrandr --output LVDS-1 --mode 1920x1080_60.00

polybar&
nm-applet&
picom&
# redshift&
xinput -disable 16
setxkbmap -option caps:escape
#set -dpms
#xset s off

[[ -f ~/.config/x/xresources ]] \
                && xrdb -merge ~/.config/x/xresources

[[ -f ~/.config/x/xmodmap ]] \
                && xmodmap ~/.config/x/xmodmap

bspwm

# vim: ft=sh
