! vim: ft=xdefaults

/* st.termname: xst-256color */

!xterm*faceName: Monospace Regular
!xterm*faceSize: 11
!xterm*boldMode: false

!st.font: DejaVu Sans:pixelsize=15.0:antialias=true:autohint=true;
st.font: Source Code Pro:pixelsize=15.0:antialias=true:autohint=true;

xft.dpi: 210
*.dpi: 210
*.autohint: 0
*.lcdfilter:  lcddefault
*.hintstyle:  hinslight
*.hinting: 1
*.antialias: 1
*.rgba: rgb
*.dpi: 192

/* !! PencilLight */
/* !! https://github.com/janoamaral/Xresources-themes */
/* !! With some changes */

st.foreground:  #000000
st.background:  #E5E4E2
st.cursorColor: #20a5ba



! Black
*.color0:      #212121
*.color8:      #424242

! Red
*.color1:      #c30771
*.color9:      #fb007a

! Green
*.color2:      #10a778
*.color10:     #5fd7af

! Yellow
*.color3:      #a89c14
*.color11:     #f3e430

! Blue
*.color4:      #008ec4
*.color12:     #20bbfc

! Magenta
*.color5:      #523c79
*.color13:     #6855de

! Cyan
*.color6:      #20a5ba
*.color14:     #4fb8cc

! White
*.color7:      #d9d9d9
*.color15:     #f1f1f1

! Bold, Italic, Underline
*.colorBD:     #fb007a
!*.colorIT:
!*.colorUL:

